<div id="add_colony" class="card card-border bg-base-200">
    <div class="card-body">
        <h2 class="card-title">Add new colony</h2>
        <p>Add a new colony (save game).</p>
        <div class="card-actions justify-end">
            <!-- Open the modal using ID.showModal() method -->
            <button
                    class="btn btn-primary"
                    onclick="create_colony_modal.showModal()"
            >Create
            </button>
        </div>
    </div>
</div>


<dialog id="create_colony_modal" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Create new colony!</h3>
        <div id="modal-content">
            <form
                    hx-post="{% url 'colony_manager:create_colony' %}"
                    hx-trigger="submit"
                    hx-target="#modal-content"
            >
                {% csrf_token %}

                {{ form.as_p }}
                <button class="btn btn-accent">
                    Submit
                </button>
                <button class="btn btn-error" onclick="create_colony_modal.close()">
                    Close
                </button>
            </form>
        </div>
        <div class="modal-action">
        </div>
    </div>
</dialog>