<div class="join">

    {% if page_obj.has_previous %}
        <a href="?page=1" class="join-item btn">First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="join-item btn">«</a>
    {% else %}
        <button class="join-item btn" disabled="disabled">First</button>
        <button class="join-item btn" disabled="disabled">«</button>
    {% endif %}
    <button class="join-item btn">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</button>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="join-item btn">»</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn">Last</a>
    {% else %}
        <button class="join-item btn" disabled="disabled">»</button>
        <button class="join-item btn" disabled="disabled">Last</button>
    {% endif %}

</div>

