{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="space">
<head>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <script src="https://kit.fontawesome.com/f23e4a7e43.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>
        {% block head_title %}
            foods_index_title
        {% endblock %}
    </title>
    {% block extra_head_element %} {% endblock %}
</head>
<body>
{% block body_content %}
{% endblock %}
</body>
{# server-side only comment for Django fields. Similar functionality to # comments #}
{% comment "optional note" %}
    This is a multi-line comment
    explaining what this section does.
    It will not render at all.
{% endcomment %}

</html>